%<span id="a">Christophers-Website</span>:<span id="b">~</span><span id="c"> chris$</span>%<!-- dfkjahsdlkfjhas --> ls -GFsh
%   total: 32 
    8 index.html*
    8 index.css*
    8 index.js*
    8 about_me.txt*%
%<span id="a">Christophers-Website</span>:<span id="b">~</span><span id="c"> chris$</span>% <!-- djhkjhkjhfkjahsdlkfjhasdlkjfhalsdkjfh -->cat about_me.txt


%<span id="h"># About Me</span>

My name is Christopher Sardegna.
I am a software engineer passionate about open source, data analytics, and clean code.


<span id="h">## Technologies</span>

I most enjoy working in Python and Javascript. My favorite editor is VSCode and some of my favorite libraries are Requests, D3, NumPy, and Django.

I write a lot of code, which you can read on my <a href="https://github.com/ReagentX">[GitHub]</a>(https://github.com/ReagentX).

To learn more about my professional experience, you can see my <a href="https://represent.io/css">[resume]</a>(https://represent.io/css).

I also write about technology, design, data analysis, and data visualization on my <a href="https://chrissardegna.com/blog/">[blog]</a>(blog).


<span id="h">## Connect</span>
<p>You can also find me online here: <br> <a href="https://twitter.com/rxcs">[Twitter]</a>(https://twitter.com/rxcs) <br> <a href="https://www.linkedin.com/in/chrissardegna">[LinkedIn]</a>(https://linkedin.com/in/chrissardegna) <br> <a href="https://dribbble.com/css">[Dribbble]</a>(https://dribbble.com/css)</p>

If you think I would be a good fit for your organization, feel free to send me an <a href="mailto:contact_web@reagentx.net">[Email]</a>.

<p>Cheers!</p>%
